/* text inside the header */
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    height: 100vh;
}

.cover-photo {
    color: #444444;
    margin: auto;
}

.panel-header {
    margin: auto;
    width: 50%;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: 600;
}

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/DeathtoStock_QuietFrontier-11.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.circle-photo {
    margin: auto;
}


/* About */
.about {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Skills */

.skills {
    padding: 50px 0;
    background-color: #444444;
}

.skills-item {
    margin-bottom: 30px;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}



/* Icons */
.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.icon-4x {
    font-size: 4em;
}

.icon-stack-2x {
	position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.svg-icon {
	width: 112px;
	height: 112px;
}

.icon-div {
	margin-top: 10px;
}

/* Footer */

footer {
    padding: 100px 0;
}


/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

.contact-icons {
	margin-top: 10px;
}

/* Recommendations */
.recommendations {
    display: table;
    width: 100%;
    color: #fff;
    background: url(../img/DeathtoStock_Wired8.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.mid-height {
    height: 400px;
}

.recommendation-panel {
    margin-left: 15px;
    margin-right: 15px;
    color: #444444;
}

.recommendation-header {
    color: #444444;
}

@media (min-width: 1100px) {
        .panel-header {
            width: 25%;
        }
}

@media screen and (max-width: 640px) {
    .panel-header {
        width: 80%;
    }
}